body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

#root {
  padding-top: 0
}

.header {
  background-color: #333333;
  width: 100%;
  color: white;
  padding: 25px 25px 25px 25px;
  display: inline-block;
  padding-bottom: 0;
}

.overflow {
  display: inline-block;
}

.create {
  float: right;
}

.question {
  text-align: center;
  clear: both;
  background-color: #f2f2f2;
  color: #333333;
}

hr {
  background-color: #1E8CC5;
  color: #1E8CC5;
  height: 5px;
}

.title {
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

.description {
  padding: 5px 5px 5px 5px;
}

#questionFormHeader {
  text-align: center;
  padding-bottom: 10px;
}

.inputContainer {
  text-align: center;
  background-color: #1E8CC5;
  padding-bottom: 10px;
}

.ui.input {
  margin-bottom: 10px;
}
